.tabs {
margin-bottom: -10px !important;
position: relative;
color: #000000;
background-color: #378d45;
background: url("../images/background8.jpg");
}
.htab-content {
padding: 1px;
top:px;
color: #000;
background-color: 
#b7a894; /*#f5e984  jpg3*/
	
}
.htab-content2 {
padding: 290px;
top:px;
color: #000;
background-color: 
#b7a894; /*#f5e984 197 jpg3*/
background: url("../images/background5.jpg");
}
.tab-content {
padding: 80px;
top: 197px;
color: #000;
background-color:#F5F5F5/*#f5e984 */;
}
.tab-pane {
display: none;

}

.tab-pane.is-active {
display: block;
width: 50%;
position: relative;
left: 50%;


}
.is-active {
display: initial;
}

.cent{
display: block;
margin: 10px auto;
padding: 5px;
border: 1px solid #ccc}

.video
{display: block;
margin: 0 auto;}

/* CSS from http://embedresponsively.com */
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Centered text */
.centered1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
